:root {
  --box-border-radius: 10px;
  --wrap-background-color: #272a37;
  --tabbar-background-color: #323644;
  --tabbar-hover-color: #484d5f;
  --card-background-color: var(--tabbar-background-color);
  --card-hover-background-color:  #484d5f;
}
