// 背景色
$backgroundColor: rgba(229,229,229,1);
// 深色
$darkColor-0: #000000;
$darkColor-1: #303841;
$darkColor-2: #363e47;
$darkColor-3: #404953;
$darkColor-4: #606266;
$darkColor-5: #76828c;
$darkColor-6: #a5b5c1;
$darkColor-7: #e7e7e7;
$darkColor-8: #1c2438;
$darkColor-9: #6e7981;
// 浅色
$lightColor-0: #ffffff;
$lightColor-1: #f7f7f8;
$lightColor-2: #f5f5f5;
// 选中色
$activeColor: #5cadff;
// 高亮色 提示色
$warmColor: #f35f5f;
